<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Генератор паролей </title> {% endblock title %}
    <!-- Загрузка статики -->
    {% load static %}
    <link rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>

<body style='background: #FEFEFE'>
    <main class="container">
            {% block content %}
            <!-- Содержимое страницы -->
            {% endblock %}
            {% include 'password.html' %}
    </main>
</body>